@model IEnumerable<CityWeather>

@foreach (var weather in Model)
{
    <div class="box w-25 float-left @ViewBag.TemperatureFahrenheit">
        <div class="float-left w-75">
            <h3>@weather.CityName</h3>
            <h4>@weather.DateAndTime.ToString("hh:mm tt")</h4>
            <a href="/weather/@weather.CityUniqueCode" class="details">Details</a>
        </div>
        <div class="">
            <h3>@weather.TemperatureFahrenheit <span class="">°F</span></h3>

        </div>
    </div>
}

