@model CityWeather


<div class="box w-25 float-left @ViewData["TemperatureFahrenheit"]">
    <div class="float-left w-75">
        <h3>@Model.CityName</h3>
        <h4>@Model.DateAndTime.ToString("hh:mm tt")</h4>
        <a href="/weather/@Model.CityUniqueCode" class="details">Details</a>
    </div>
    <div class="">
        <h3>@Model.TemperatureFahrenheit <span class="">°F</span></h3>

    </div>
</div>


